@model Category
<div>
    <a asp-action="List" asp-controller="Category" class="mb-2 btn btn-info">Back To List</a>
</div>
<div class="card col-md-5">
    <div class="card card-header text-bg-dark">Details of @Model.Name</div>
    <div class="card-body text-black">
        <p>Name: @Model.Name</p>
        <p>Product Life : @Model.MaxTime</p>
    </div>
</div>
