@model Product
<div>
    <a asp-action="List" asp-controller="Products" class="mb-2 btn btn-info">Back To List</a>
</div>
<form asp-action="DeleteConfirm" asp-controller="Products" method="post">
    <input asp-for="Id" hidden />
    <div class=" card col-md-4">
        <div class=" card-header"> Are you Sure?</div>
        <div class=" card-body">
            <div>Id : @Model.Id </div>
            <div>Name : @Model.Name </div>
            <div>Category : @Model.Description </div>
            <div>Price : @Model.Price </div>

            <div class="card-footer">
                <input type="Submit" value="Delete" class="btn btn-dark" />
            </div>

        </div>
    </div>
</form>
